* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card-container {
  width: 363px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.profile-image {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.author {
  margin-top: 28px;
  display: flex;
}

.name {
  margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.profile-name {
  font-family: "Alata", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  
}

p {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #babcc1;
  padding-top: 10px;
}

@media (max-width: 768px) {
   
    h2 {
        font-size: 20px;
        color: black;
        font-weight: 500;
      }

      .profile-name {
        font-family: "Alata", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #000;
      }

      p {
        font-family: "Alata", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #babcc1;
      }

  }

  @media (max-width: 480px) {  
  
    h2 {
        font-size: 13px;
        color: black;
        font-weight: 500;
      }

      .profile-name {
        font-family: "Alata", sans-serif;
        font-size: 11px;
        font-weight: 500;
        color: #000;
      }

      p {
        font-family: "Alata", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: #babcc1;
      }

      .profile-image {
        width: 40px; /* Adjust the size as needed */
        height: 40px; /* Ensure the height matches the width for a circular image */
      }
  
    }